version: "3.8"

services:
  web:
     build: .
     container_name: nebula-notes-web
     ports:
         - "5000:5000"
     environment:
        - REDIS_HOST=$REDIS_HOST
        - REDIS_PORT=$REDIS_PORT
        - REDIS_DB=$REDIS_DB
     depends_on:
        - redis


  redis:
     image: redis:7-alpine
     container_name: nebula-notes-redis
     ports:
        - "6379:6379"
     volumes:
        - redis-data:/data

volumes:
  redis-data: